.navigation {
    display: grid;
    background-color: green;
    width: 100vw;
    height: auto;
    grid-template-rows: repeat(2,1fr);
    place-items: center;
}

@media screen and (min-width: 1000px) {
    .navigation {
        grid-column: 1;
        grid-row: 2/3;
        width: 20vw;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}