.navigation {
    display: grid;
    width: 100vw;
    height: 150px;
    grid-template-rows: repeat(2,1fr);
    place-items: center;
    margin-top: 110px;
}

@media screen and (min-width: 800px) {
    .navigation {
        grid-column: 1;
        grid-row: 2/3;
        width: 20vw;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}